In [1]:
import pandas as pd
from pyspark.sql import SparkSession

# Criar sess√£o do Spark com suporte a Hive
spark = SparkSession.builder \
    .appName("PySpark_Escola_DB") \
    .config("spark.sql.catalogImplementation", "hive") \
    .enableHiveSupport() \
    .getOrCreate()

# Criar base de dados
spark.sql("CREATE DATABASE IF NOT EXISTS escola")
spark.sql("USE escola")

# Criar dados para turmas
dados_turmas = pd.DataFrame({
    "id_turma": [1, 2, 3, 4],
    "nome_turma": ["Turma A", "Turma B", "Turma C", "Turma D"],
    "disciplina": ["Matem√°tica", "Hist√≥ria", "F√≠sica", "Qu√≠mica"],
    "ano": [2024, 2023, 2024, 2023],
    "num_alunos": [30, 25, 20, 28]
})

df_turmas = spark.createDataFrame(dados_turmas)

# Criar tabela permanente para turmas
spark.sql("""
    CREATE TABLE IF NOT EXISTS turmas (
        id_turma INT,
        nome_turma STRING,
        disciplina STRING,
        ano INT,
        num_alunos INT
    ) USING PARQUET
""")

# Inserir dados na tabela
df_turmas.write.mode("overwrite").insertInto("turmas")

# Criar dados para alunos
dados_alunos = pd.DataFrame({
    "id_aluno": [1, 2, 3, 4, 5, 6],
    "nome": ["Jo√£o Silva", "Maria Santos", "Carlos Nunes", "Ana Costa", "Rui Pereira", "Sara Mendes"],
    "turma": [1, 2, 3, 1, 2, 4],
    "idade": [16, 17, 15, 16, 18, 17],
    "desempenho": ["Bom", "Excelente", "M√©dio", "Bom", "Fraco", "Excelente"]
})

df_alunos = spark.createDataFrame(dados_alunos)

# Criar tabela permanente para alunos
spark.sql("""
    CREATE TABLE IF NOT EXISTS alunos (
        id_aluno INT,
        nome STRING,
        turma INT,
        idade INT,
        desempenho STRING
    ) USING PARQUET
""")

# Inserir dados na tabela
df_alunos.write.mode("overwrite").insertInto("alunos")

# üîé CONSULTAS SQL DIRETAMENTE NA BASE DE DADOS
print("1Ô∏è‚É£ Listar todas as turmas:")
spark.sql("SELECT * FROM turmas").show()

print("2Ô∏è‚É£ Listar todos os alunos:")
spark.sql("SELECT * FROM alunos").show()

# Fechar sess√£o
spark.stop()

1Ô∏è‚É£ Listar todas as turmas:
+--------+----------+----------+----+----------+
|id_turma|nome_turma|disciplina| ano|num_alunos|
+--------+----------+----------+----+----------+
|       1|   Turma A|Matem√°tica|2024|        30|
|       2|   Turma B|  Hist√≥ria|2023|        25|
|       4|   Turma D|   Qu√≠mica|2023|        28|
|       3|   Turma C|    F√≠sica|2024|        20|
+--------+----------+----------+----+----------+

2Ô∏è‚É£ Listar todos os alunos:
+--------+------------+-----+-----+----------+
|id_aluno|        nome|turma|idade|desempenho|
+--------+------------+-----+-----+----------+
|       2|Maria Santos|    2|   17| Excelente|
|       6| Sara Mendes|    4|   17| Excelente|
|       3|Carlos Nunes|    3|   15|     M√©dio|
|       5| Rui Pereira|    2|   18|     Fraco|
|       1|  Jo√£o Silva|    1|   16|       Bom|
|       4|   Ana Costa|    1|   16|       Bom|
+--------+------------+-----+-----+----------+