In [1]:
from pyspark.sql import SparkSession

# Criar uma sess√£o do Spark
spark = SparkSession.builder.appName("ManipulacaoDados").getOrCreate()

In [2]:
from pyspark.sql import Row

# Criar uma lista de dicion√°rios
dados = [
    Row(nome="Ana", idade=23, cidade="Lisboa"),
    Row(nome="Bruno", idade=30, cidade="Porto"),
    Row(nome="Carlos", idade=35, cidade="Lisboa"),
    Row(nome="Daniela", idade=29, cidade="Coimbra"),
    Row(nome="Eduardo", idade=40, cidade="Porto")
]

# Criar um DataFrame a partir da lista
df = spark.createDataFrame(dados)

# Mostrar os dados
df.show()

+-------+-----+-------+
|   nome|idade| cidade|
+-------+-----+-------+
|    Ana|   23| Lisboa|
|  Bruno|   30|  Porto|
| Carlos|   35| Lisboa|
|Daniela|   29|Coimbra|
|Eduardo|   40|  Porto|
+-------+-----+-------+

In [ ]:
df.filter(df.cidade == "Lisboa").show()

+------+-----+------+
|  nome|idade|cidade|
+------+-----+------+
|   Ana|   23|Lisboa|
|Carlos|   35|Lisboa|
+------+-----+------+

In [ ]:
from pyspark.sql import SparkSession

# Criar sess√£o do Spark
spark = SparkSession.builder.appName("PySpark_CatalogoFutebol").getOrCreate()

# Criar um banco de dados (se necess√°rio)
spark.sql("CREATE DATABASE IF NOT EXISTS futebol")

DataFrame[]

In [ ]:

# Selecionar o banco de dados
spark.sql("USE futebol")

DataFrame[]

In [ ]:

# Criar um DataFrame de jogadores
dados = [
    ("Cristiano Ronaldo", "Al Nassr", 38, 20, 5),
    ("Lionel Messi", "Inter Miami", 36, 18, 12),
    ("Neymar", "Al Hilal", 31, 10, 8),
    ("Kevin De Bruyne", "Manchester City", 32, 5, 15),
]

In [ ]:

colunas = ["jogador", "time", "idade", "golos", "assistencias"]

df = spark.createDataFrame(dados, colunas)

In [ ]:

# Criar uma tabela tempor√°ria
df.createOrReplaceTempView("jogadores")

In [ ]:

# Listar os bancos de dados
print("üîπ Dados Dispon√≠veis:")
print(spark.catalog.listDatabases())

üîπ Dados Dispon√≠veis:
[Database(name='default', catalog='spark_catalog', description='default database', locationUri='file:/home/jovyan/work/Aula%25203%2520/spark-warehouse'), Database(name='futebol', catalog='spark_catalog', description='', locationUri='file:/home/jovyan/work/Aula%25203%2520/spark-warehouse/futebol.db')]