In [2]:
from pyspark.sql import SparkSession
import json

In [9]:

# Criar uma sessÃ£o Spark
spark = SparkSession.builder.appName("CSVExample").getOrCreate()

# Criar um ficheiro CSV
data = [
    [1, "Alice", 25],
    [2, "Bob", 30],
    [3, "Carlos", 22],
    [4, "Diana", 28],
    [5, "Eva", 35],
    [6, "Fernando", 40]
]

In [16]:
# Cria um CVS
csv_filename = "dados.csv"
with open(csv_filename, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["id", "nome", "idade"])
    writer.writerows(data)

NameError: name 'csv' is not defined

In [15]:
# Carregar o CSV com PySpark
df = spark.read.option("header", "true").csv(csv_filename, inferSchema=True)

In [ ]:
# Mostrar os dados
df.show()

In [ ]:
# Mostrar o top 5
df.limit(5).show()

In [23]:
# Mostrar o top 5
df.sort("id").show(5)

+---+-----+------+
| id|idade|  nome|
+---+-----+------+
|  1|   25| Alice|
|  2|   30|   Bob|
|  3|   22|Carlos|
|  4|   28| Diana|
|  5|   35|   Eva|
+---+-----+------+
only showing top 5 rows