In [1]:
from pyspark.sql import SparkSession

# Criar a sessão do Spark
spark = SparkSession.builder.appName("Analise_Vendas_Carros").enableHiveSupport().getOrCreate()

# Criar a base de dados (se não existir)
spark.sql("CREATE DATABASE IF NOT EXISTS concessionaria")

# Selecionar a base de dados
spark.sql("USE concessionaria")

# Criar os dados das vendas de carros
dados = [
    (1, "João Almeida", "BMW", "Série 3", 2022, 45000.0, 1, "Transferência Bancária"),
    (2, "Marta Costa", "Mercedes", "Classe A", 2023, 38000.0, 1, "Cartão de Crédito"),
    (3, "Tiago Silva", "Audi", "A4", 2021, 42000.0, 1, "Financiamento"),
    (4, "Ana Pereira", "Renault", "Clio", 2020, 18000.0, 2, "Cartão de Crédito"),
    (5, "Luís Fernandes", "Tesla", "Model 3", 2023, 52000.0, 1, "Transferência Bancária"),
]

# Definir as colunas
colunas = ["id_venda", "cliente", "marca", "modelo", "ano", "preco", "quantidade", "metodo_pagamento"]

# Criar DataFrame
df = spark.createDataFrame(dados, colunas)

# Criar uma tabela temporária para consultas SQL
df.createOrReplaceTempView("vendas_carros")

In [2]:
spark.sql("""
    SELECT * FROM vendas_carros
    WHERE metodo_pagamento = 'Cartão de Crédito'
""").show()

+--------+-----------+--------+--------+----+-------+----------+-----------------+
|id_venda|    cliente|   marca|  modelo| ano|  preco|quantidade| metodo_pagamento|
+--------+-----------+--------+--------+----+-------+----------+-----------------+
|       2|Marta Costa|Mercedes|Classe A|2023|38000.0|         1|Cartão de Crédito|
|       4|Ana Pereira| Renault|    Clio|2020|18000.0|         2|Cartão de Crédito|
+--------+-----------+--------+--------+----+-------+----------+-----------------+

In [ ]:
spark.sql("""
    SELECT * FROM vendas_carros
    ORDER BY preco DESC
""").show()

In [ ]:
spark.sql("""
    SELECT cliente, SUM(preco * quantidade) AS total_gasto
    FROM vendas_carros
    GROUP BY cliente
""").show()

In [ ]:
spark.sql("""
    SELECT marca, COUNT(*) AS total_vendas
    FROM vendas_carros
    GROUP BY marca
""").show()